<h1>Редактировать</h1>

<%= render 'form', sell_instrument_for_customer: @sell_instrument_for_customer %>

<%= link_to 'Открыть', @sell_instrument_for_customer %> |
<%= link_to 'Назад', sell_instrument_for_customers_path %>
